Repository carpenike/coachiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-staged, check-poetry-lock

eslint-staged:
  name: eslint (staged files)
  entry: bash -c 'cd frontend && npx eslint --fix -- "$@"' --
  language: system
  pass_filenames: true

check-poetry-lock:
  name: poetry-lock-check
  description: Ensure poetry.lock is in sync with pyproject.toml
  entry: poetry check --lock
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ws): stop tearing down the socket every render (the real STALE cause) (#218)
  frontend/src/hooks/useWebSocket.ts
Due: eslint-staged

feat(rvc): periodic SET_DATE_TIME_COMMAND nudge for non-compliant clocks
  backend/core/config.py
  backend/services/time_sync/time_sync_service.py
  tests/services/test_time_sync_service.py
Due: none

feat(rvc): synthesize COMPASS_BEARING_STATUS from GPS course
  backend/core/config.py
  backend/integrations/rvc/time_broadcast.py
  backend/services/time_sync/time_sync_service.py
  tests/integrations/rvc/test_time_broadcast.py
  tests/services/test_time_sync_service.py
Due: none

test(ws): satisfy changed-line lint in the re-render regression test
  frontend/src/hooks/__tests__/useWebSocket.test.tsx
Due: eslint-staged

chore(ci): ratchet frontend ESLint baseline 268 -> 264
  scripts/ci-quality-gate.sh
Due: none

fix(auth): survive token refresh races so sessions actually persist
  frontend/src/contexts/auth-context.tsx
  frontend/src/lib/__tests__/token-storage.test.ts
  frontend/src/lib/token-storage.ts
Due: eslint-staged

fix(docs-api): point the vector-search setup hint at the real indexing script
  backend/api/routers/docs.py
Due: none

docs: comprehensive refresh of user-facing and engineering documentation
  CONTRIBUTING.md
  IMPLEMENTATION_PLAN.md
  PROJECT_CONTEXT.md
  README.md
  docs/README.md
  docs/api/entities.md
  docs/api/frontend-integration.md
  docs/api/index.md
  docs/api/overview.md
  docs/api/websocket.md
  docs/architecture/backend.md
  docs/architecture/frontend.md
  docs/architecture/overview.md
  docs/configuration-guide.md
  docs/configuration.md
  docs/development-environments.md
  docs/enhanced-dev-environment.md
  docs/frontend/README.md
  docs/frontend/context-reorganization.md
  docs/frontend/development-guide.md
  docs/frontend/development-setup.md
  docs/frontend/health-monitoring-implementation-summary.md
  docs/index.md
  docs/mcp-tools-setup.md
  docs/nixos-integration.md
  docs/nixos-module.md
  docs/react-deployment.md
  docs/rv-c-documentation-search.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
  frontend/README.md
  mkdocs.yml
Due: none

docs: archive superseded planning artifacts to docs/archive/2026-07
  docs/archive/2026-07/documentation-organization.md
  docs/archive/2026-07/documentation-strategy.md
  docs/archive/2026-07/frontend-redesign.md
  docs/archive/archive-log.md
  frontend/src/components/power-section.tsx
  frontend/src/pages/account.tsx
  frontend/src/pages/climate.tsx
  frontend/src/pages/diagnostics.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/lights.tsx
Due: eslint-staged

ci: notify nix-config on push to main (Tier 3 push-to-deploy)
  .github/workflows/notify-nix-config.yml
Due: none

feat(discovery): passive topology + coach node directory (friendly names)
  backend/services/can/can_bus_service.py
  backend/services/discovery/device_discovery_service.py
  config/2021_Entegra_Aspire_44R.yml
  frontend/src/api/types.ts
  frontend/src/components/network/DeviceDiscoveryTable.tsx
  tests/services/test_device_discovery_names.py
Due: eslint-staged

feat(victron): manual generator start/stop control
  backend/api/routers/victron.py
  backend/services/victron/victron_service.py
  frontend/src/api/victron.ts
  frontend/src/pages/power.tsx
  tests/services/test_victron_service.py
Due: eslint-staged

fix(startup,logging): repair structured logging and consolidate server entry points
  backend/core/config.py
  backend/core/logging_config.py
  backend/core/sensitive_data_filter.py
  backend/main.py
  backend/middleware/logging_middleware.py
  pyproject.toml
  run_server.py
  tests/core/test_logging_config.py
Due: check-poetry-lock

feat(logs): migrate live log streaming to SSE and make log history work everywhere
  PROJECT_CONTEXT.md
  README.md
  backend/api/routers/config.py
  backend/api/routers/logs.py
  backend/core/config.py
  backend/core/logging_config.py
  backend/main.py
  backend/middleware/rate_limiting.py
  backend/repositories/journal_repository.py
  backend/services/logging/journal_service.py
  backend/services/logging/log_history.py
  backend/services/logging/log_stream.py
  backend/services/system/websocket_service.py
  backend/websocket/routes.py
  docs/api/frontend-integration.md
  docs/api/overview.md
  docs/api/websocket.md
  docs/architecture/backend.md
  docs/architecture/frontend.md
  docs/architecture/overview.md
  frontend/src/components/log-viewer/LogDrawer.tsx
  frontend/src/components/log-viewer/LogViewer.tsx
  frontend/src/components/log-viewer/__tests__/log-stream.test.ts
  frontend/src/components/log-viewer/log-stream.ts
  frontend/src/components/log-viewer/log-viewer-context.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/system.tsx
  frontend/vite.config.ts
  nix/module.nix
  tests/api/test_logs_router.py
  tests/middleware/test_auth_full_stack_regression.py
  tests/services/test_log_history.py
  tests/services/test_log_stream.py
Due: eslint-staged

fix(ci): resolve lint-gate findings and ratchet quality baselines
  backend/core/config.py
  frontend/src/components/log-viewer/LogDrawer.tsx
  frontend/src/components/log-viewer/log-viewer-context.tsx
  scripts/ci-quality-gate.sh
Due: eslint-staged

fix(ci): avoid object-injection lint on stream-state lookup
  frontend/src/components/log-viewer/log-viewer-context.tsx
Due: eslint-staged

fix(ci): ratchet ESLint baseline to 260
  scripts/ci-quality-gate.sh
Due: none

test: update CAN-tool WS handler message-type expectations
  tests/services/test_service_key_lookups.py
Due: none

fix(frontend): patch SSE entity updates into query cache instead of invalidating collections
  frontend/src/contexts/__tests__/realtime-cache.test.ts
  frontend/src/contexts/realtime-cache.ts
  frontend/src/contexts/realtime-provider.tsx
Due: eslint-staged

feat(location): trip noise guards, working GPX download, trip replay + delete
  backend/api/routers/location.py
  backend/core/config.py
  backend/repositories/trip_log_repository.py
  backend/services/trip_log/trip_log_service.py
  frontend/src/api/client.ts
  frontend/src/api/location.ts
  frontend/src/pages/location.tsx
  tests/services/test_trip_log_service.py
Due: eslint-staged

fix(auth): preserve identity claims when refreshing access tokens
  backend/services/auth/sessions.py
  tests/services/test_session_service_identity_claims.py
Due: none

fix(frontend): refresh and retry once on 401 instead of blanking the query
  frontend/src/api/__tests__/client-auth-retry.test.ts
  frontend/src/api/client.ts
Due: eslint-staged

feat(location): trip names, live trail, SSE position, odometer, merge
  backend/api/routers/location.py
  backend/core/composition_root.py
  backend/core/config.py
  backend/models/trip_log.py
  backend/repositories/trip_log_repository.py
  backend/services/trip_log/geocoding.py
  backend/services/trip_log/trip_log_service.py
  frontend/src/api/location.ts
  frontend/src/contexts/realtime-provider.tsx
  frontend/src/pages/location.tsx
  tests/services/test_trip_log_service.py
Due: eslint-staged

fix(location): avoid httpx exception attribute pyright can't resolve
  backend/services/trip_log/geocoding.py
Due: none

fix(auth): keep user identity across token refresh; retry entity fetches on 401 (#229)
  backend/services/auth/sessions.py
  frontend/src/api/__tests__/client-auth-retry.test.ts
  frontend/src/api/client.ts
  tests/services/test_session_service_identity_claims.py
Due: eslint-staged

fix(frontend): stop dev server from serving source modules with 1-year cache
  frontend/vite.config.ts
Due: eslint-staged

chore(pre-commit): use python3 instead of hard-pinning python3.12
  .pre-commit-config.yaml
Due: none

fix(frontend): stop dev server from serving source modules with 1-year cache (#231)
  frontend/vite.config.ts
Due: eslint-staged

chore(pre-commit): use python3 instead of hard-pinning python3.12 (#232)
  .pre-commit-config.yaml
Due: none

fix(frontend): map SSE entity payload to REST shape so live values don't blank
  frontend/src/contexts/__tests__/realtime-cache.test.ts
  frontend/src/contexts/realtime-cache.ts
Due: eslint-staged

fix(frontend): map SSE entity payload to REST shape so live values don't blank (#233)
  frontend/src/contexts/__tests__/realtime-cache.test.ts
  frontend/src/contexts/realtime-cache.ts
Due: eslint-staged

feat(location): denoise GPS fixes and capture corners in the trip trail
  backend/core/config.py
  backend/services/trip_log/trip_log_service.py
  tests/services/test_trip_log_service.py
Due: none

feat(trip-log): snap-to-road map matching for recorded trips
  backend/api/routers/location.py
  backend/core/config.py
  backend/models/trip_log.py
  backend/repositories/trip_log_repository.py
  backend/services/trip_log/map_matching.py
  backend/services/trip_log/trip_log_service.py
  frontend/src/api/location.ts
  frontend/src/pages/location.tsx
  tests/services/test_trip_log_service.py
Due: eslint-staged

feat(location): periodically retry trip enrichment so the coach self-heals
  backend/services/trip_log/trip_log_service.py
  tests/services/test_trip_log_service.py
Due: none

fix(trip-log): chunk map-match requests by distance, not just point count
  backend/services/trip_log/map_matching.py
  tests/services/test_map_matching.py
Due: none

fix(trip-log): chunk map-match requests by distance, not just point count (#237)
  backend/services/trip_log/map_matching.py
  tests/services/test_map_matching.py
Due: none

fix(rvc): isolate auxiliary climate source fields
  backend/services/can/can_bus_service.py
  docs/can-re-findings.md
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

fix(nix): refresh frontend npm dependency hash
  frontend/package-lock.json
  frontend/package.json
  nix/package.nix
Due: none

Path conditions:
  eslint-staged: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/(node_modules|dist|coverage)/
  check-poetry-lock: any of: ^(pyproject\.toml|poetry\.lock)$
