Repository carpenike/coachiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-staged, check-poetry-lock

eslint-staged:
  name: eslint (staged files)
  entry: bash -c 'cd frontend && npx eslint --fix -- "$@"' --
  language: system
  pass_filenames: true

check-poetry-lock:
  name: poetry-lock-check
  description: Ensure poetry.lock is in sync with pyproject.toml
  entry: poetry check --lock
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(startup): seed entities during composition boot
  backend/core/composition_root.py
  tests/core/test_composition_root.py
  tests/middleware/test_auth_full_stack_regression.py
  tests/services/test_entity_initialization_service.py
Due: none

test(auth): sweep live authenticated get routes
  PROJECT_CONTEXT.md
  backend/api/routers/auth.py
  backend/api/routers/config.py
  backend/api/routers/docs.py
  backend/api/routers/notification_analytics.py
  backend/api/routers/notification_dashboard.py
  backend/api/routers/pattern_analysis.py
  backend/api/routers/pin_auth.py
  backend/api/routers/predictive_maintenance.py
  backend/api/routers/security_config.py
  backend/api/routers/security_dashboard.py
  backend/api/routers/security_monitoring.py
  backend/integrations/can/message_filter.py
  backend/repositories/database_update_repository.py
  backend/services/can/can_facade.py
  backend/services/discovery/device_discovery_service.py
  scripts/ci-quality-gate.sh
  tests/middleware/test_auth_full_stack_regression.py
Due: none

fix(di): type runtime service aliases
  PROJECT_CONTEXT.md
  backend/api/routers/protocols.py
  backend/core/dependencies.py
  backend/services/system/websocket_service.py
  scripts/ci-quality-gate.sh
Due: none

feat(router-sidecar): add plain http listener scaffold
  backend/core/composition_root.py
  backend/core/config.py
  backend/integrations/router_sidecar/__init__.py
  backend/integrations/router_sidecar/app.py
  backend/integrations/router_sidecar/server.py
  backend/integrations/router_sidecar/service.py
  backend/main.py
  tests/integrations/router_sidecar/__init__.py
  tests/integrations/router_sidecar/test_sidecar_app.py
Due: none

feat(router-sidecar): evaluate cached gpsd location
  backend/integrations/router_sidecar/gpsd.py
  backend/integrations/router_sidecar/location.py
  backend/integrations/router_sidecar/service.py
  tests/integrations/router_sidecar/test_location_gpsd.py
Due: none

feat(router-sidecar): evaluate starlink verdict
  backend/core/config.py
  backend/integrations/router_sidecar/service.py
  backend/integrations/router_sidecar/starlink.py
  backend/integrations/router_sidecar/verdict.py
  nix/package.nix
  poetry.lock
  pyproject.toml
  tests/integrations/router_sidecar/test_starlink_verdict.py
Due: check-poetry-lock

feat(router-sidecar): expose nix lan options
  docs/specs/ROUTER_SIDECAR_PLAN.md
  flake.nix
  nix/module.nix
  nix/test-module.nix
Due: none

fix(router-sidecar): stop pollers from task snapshot
  backend/integrations/router_sidecar/service.py
Due: none

fix(router-sidecar): clean up acceptance findings
  backend/core/config.py
  backend/integrations/router_sidecar/location.py
  backend/integrations/router_sidecar/service.py
  backend/integrations/router_sidecar/verdict.py
Due: none

feat(router-sidecar): expose starlink telemetry
  backend/core/config.py
  backend/integrations/router_sidecar/app.py
  backend/integrations/router_sidecar/service.py
  backend/integrations/router_sidecar/starlink.py
  backend/integrations/router_sidecar/verdict.py
  docs/specs/ROUTER_SIDECAR_PLAN.md
  tests/integrations/router_sidecar/test_starlink_verdict.py
Due: none

fix(router-sidecar): stabilize starlink verdict state
  backend/core/config.py
  backend/integrations/router_sidecar/app.py
  backend/integrations/router_sidecar/service.py
  backend/integrations/router_sidecar/verdict.py
  docs/specs/ROUTER_SIDECAR_PLAN.md
  tests/integrations/router_sidecar/test_starlink_verdict.py
Due: none

fix(router-sidecar): emit starlink default fields
  backend/integrations/router_sidecar/starlink.py
  docs/specs/ROUTER_SIDECAR_PLAN.md
  tests/integrations/router_sidecar/test_starlink_verdict.py
Due: none

fix(api): unblock the v1 entity control path and surface coach zones
  .env.example
  backend/api/domains/entities.py
  backend/api/domains/system.py
  backend/core/dependencies.py
  backend/middleware/csrf_protection.py
  backend/models/entity_model.py
  backend/repositories/entity_state_repository.py
  backend/services/entities/entity_domain_service.py
  backend/services/entities/entity_initialization_service.py
  backend/services/entities/entity_service.py
  backend/websocket/auth_handler.py
  tests/backend/integrations/rvc/test_coach_mapping_sections.py
  tests/middleware/test_csrf_bearer_exemption.py
Due: none

docs(redesign): capture Mira panel reference from coach photos
  docs/frontend-redesign.md
Due: none

refactor(ui): merge Settings + Profile into one Account page
  frontend/src/components/nav-user.tsx
  frontend/src/lib/routes.tsx
  frontend/src/main.tsx
  frontend/src/pages/account.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/settings.tsx
Due: eslint-staged

docs(redesign): awning ext/ret in scope, slides remain excluded
  docs/frontend-redesign.md
Due: none

style: formatter cleanups from pre-commit run
  backend/api/domains/entities.py
  frontend/src/lib/routes.tsx
Due: eslint-staged

style(ui): type aliases over interfaces to satisfy naming-convention gate
  frontend/src/components/app-shell.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/contexts/coach-connection.tsx
  frontend/src/hooks/useCoachConfig.ts
Due: eslint-staged

style: conform new code to CI lint gate
  backend/api/domains/entities.py
  backend/services/entities/entity_initialization_service.py
  frontend/src/components/app-layout.tsx
  frontend/src/components/app-shell.tsx
  frontend/src/components/connection-banner.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/network/DeviceDiscoveryTable.tsx
  frontend/src/contexts/coach-connection-context.ts
  frontend/src/contexts/coach-connection.tsx
  frontend/src/hooks/useCoachConfig.ts
  frontend/src/lib/routes.tsx
  frontend/src/pages/account.tsx
  frontend/src/pages/admin.tsx
  frontend/src/pages/can-sniffer.tsx
  frontend/src/pages/device-mapping.tsx
  frontend/src/pages/devices.tsx
  frontend/src/pages/diagnostics.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/lights.tsx
  frontend/src/pages/system.tsx
  frontend/src/pages/unknown-pgns.tsx
  frontend/src/pages/unmapped-entries.tsx
  tests/backend/integrations/rvc/test_coach_mapping_sections.py
Due: eslint-staged

style(ui): clear remaining CI lint-gate findings across rebuilt pages
  frontend/src/pages/device-mapping.tsx
  frontend/src/pages/devices.tsx
  frontend/src/pages/diagnostics.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/lights.tsx
  frontend/src/pages/network-map.tsx
  frontend/src/pages/system.tsx
  frontend/src/pages/unknown-pgns.tsx
  frontend/src/pages/unmapped-entries.tsx
Due: eslint-staged

style(api): pyright ignores for stub false-positives on new lines
  backend/middleware/csrf_protection.py
  backend/websocket/auth_handler.py
Due: none

chore(ci): ratchet frontend ESLint baseline 553 -> 268
  scripts/ci-quality-gate.sh
Due: none

test(websocket): pin new accept-then-close auth rejection contract
  tests/websocket/test_auth_handler_guardrails.py
Due: none

fix(ci): repair backend test stage and the live-route 500s it exposed
  backend/api/routers/startup_monitoring.py
  backend/core/dependencies.py
  backend/integrations/can/can_bus_recorder.py
  backend/main.py
  backend/services/can/can_facade.py
  scripts/check_module_coverage.py
  tests/api/test_startup_monitoring.py
  tests/conftest.py
  tests/integrations/can/test_can_bus_recorder.py
  tests/services/test_can_facade.py
  tests/services/test_component_identification_discovery.py
  tests/services/test_service_key_lookups.py
Due: none

fix(can): start per-frame tool services and gate dispatch on running state
  backend/services/can/can_bus_service.py
Due: none

fix(can): wire the RX pipeline end to end
  backend/core/composition_root.py
  backend/repositories/diagnostics_repository.py
  backend/services/can/can_bus_service.py
  backend/services/can/can_network_telemetry_service.py
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

feat(dev_tools): CAN reverse-engineering toolkit + bus findings
  dev_tools/__init__.py
  dev_tools/can_re/README.md
  dev_tools/can_re/__init__.py
  dev_tools/can_re/canframe.py
  dev_tools/can_re/capture.py
  dev_tools/can_re/census.py
  dev_tools/can_re/diff.py
  dev_tools/can_re/loader.py
  dev_tools/can_re/tests/__init__.py
  dev_tools/can_re/tests/test_can_re.py
  docs/can-re-findings.md
Due: none

feat(nix): ship can-re toolkit as the coachiq-can-re on-device CLI
  dev_tools/can_re/README.md
  dev_tools/can_re/canframe.py
  dev_tools/can_re/cli.py
  dev_tools/can_re/tests/test_can_re.py
  nix/package.nix
  pyproject.toml
Due: check-poetry-lock

feat(rvc): working light control — fix DC_DIMMER_COMMAND_2 + multi-instance
  backend/integrations/rvc/decode.py
  backend/integrations/rvc/encoder.py
  config/2021_Entegra_Aspire_44R.yml
  config/rvc.json
  tests/integrations/rvc/test_light_command_encoding.py
Due: none

fix(auth): persist refresh sessions and end OIDC double-login race
  backend/repositories/auth_repository.py
  backend/services/auth/repository.py
  frontend/src/contexts/auth-context.tsx
  frontend/src/lib/token-storage.ts
  frontend/src/pages/oidc-callback.tsx
  tests/repositories/test_session_repository_persistence.py
Due: eslint-staged

fix(auth): persist refresh sessions and end OIDC double-login race (#186)
  backend/repositories/auth_repository.py
  backend/services/auth/repository.py
  frontend/src/contexts/auth-context.tsx
  frontend/src/lib/token-storage.ts
  frontend/src/pages/oidc-callback.tsx
  tests/repositories/test_session_repository_persistence.py
Due: eslint-staged

fix(entities): route light control through the correct DGN + fan-out
  backend/integrations/can/message_factory.py
  backend/models/entity_model.py
  backend/services/entities/entity_initialization_service.py
  backend/services/entities/entity_service.py
  tests/integrations/can/__init__.py
  tests/integrations/can/test_light_message_factory.py
Due: none

fix(auth): stabilize refresh_token_secret across restarts
  backend/core/config.py
  tests/core/test_security_secret_config.py
Due: none

fix(can): start the TX writer so control commands actually transmit
  backend/services/can/can_bus_service.py
Due: none

fix(entities): make the ack-matcher actually confirm light commands
  backend/services/entities/entity_domain_service.py
  tests/services/test_light_ack_matcher.py
Due: none

fix(can): stream live updates to Sniffer/Recorder/Analyzer/Filter
  backend/core/composition_root.py
  backend/integrations/can/can_bus_recorder.py
  backend/integrations/can/message_filter.py
  backend/integrations/can/protocol_analyzer.py
  backend/services/can/can_bus_service.py
  backend/services/system/websocket_service.py
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

chore(ci): ratchet pyright baseline
  scripts/ci-quality-gate.sh
Due: none

feat(router-sidecar): add nighthawk 5g telemetry
  .env.example
  backend/core/config.py
  backend/integrations/router_sidecar/app.py
  backend/integrations/router_sidecar/nighthawk.py
  backend/integrations/router_sidecar/service.py
  docs/specs/ROUTER_SIDECAR_PLAN.md
  tests/integrations/router_sidecar/test_nighthawk_5g.py
Due: none

feat(climate): heating/cooling end to end — thermostat zones, Climate page
  backend/integrations/can/message_factory.py
  backend/integrations/rvc/climate_units.py
  backend/models/entity.py
  backend/services/can/can_bus_service.py
  backend/services/entities/entity_domain_service.py
  backend/services/entities/entity_service.py
  config/2021_Entegra_Aspire_44R.yml
  config/rvc.json
  docs/can-re-findings.md
  frontend/src/lib/routes.tsx
  frontend/src/pages/climate.tsx
  tests/services/test_climate_control.py
Due: eslint-staged

Path conditions:
  eslint-staged: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/(node_modules|dist|coverage)/
  check-poetry-lock: any of: ^(pyproject\.toml|poetry\.lock)$
