Repository carpenike/coachiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-staged, check-poetry-lock

.pre-commit-config.yaml:

# See https://pre-commit.com for full documentation

default_language_version:
  python: python3.12

# NO global exclude - let each tool manage its own exclusions

repos:
  # Core file + YAML + merge conflict + whitespace checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(mkdocs\.yml|docs/mkdocs\.yml)$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-added-large-files
        exclude: >
          (?x)^(
            resources/rvc-2023-11\.pdf|
            resources/rvc-2023-11_chunks\.json
          )$

  # Python linting and formatting with Ruff (fast checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0  # Update to latest
    hooks:
      - id: ruff
        args: [--fix]  # Fix what we can, report the rest
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # Security scanning with Bandit (CRITICAL - must pass for medium+ issues)
  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.5'  # Update to latest
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "--severity-level", "medium"]  # Block only on medium+ severity
        additional_dependencies: ["bandit[toml]"]
        types: [python]

  # Frontend linting (staged files only for speed)
  - repo: local
    hooks:
      - id: eslint-staged
        name: eslint (staged files)
        entry: bash -c 'cd frontend && npx eslint --fix -- "$@"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        exclude: ^frontend/(node_modules|dist|coverage)/
        pass_filenames: true  # Only lint changed files

  # ===== PRE-PUSH HOOKS (heavier checks) =====

  # Python type checking with Pyright (slow, full project analysis)
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.402  # Latest as of June 2025
    hooks:
      - id: pyright
        pass_filenames: false  # Analyze whole project
        args: [--project=.]
        stages: [pre-push]  # Only run on push

  # Frontend full project checks
  - repo: local
    hooks:
      - id: frontend-typecheck-full
        name: TypeScript check (full project)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        pass_filenames: false
        stages: [pre-push]  # Only run on push

      - id: frontend-build-check
        name: Frontend build check
        entry: bash -c 'cd frontend && npm run build'
        language: system
        pass_filenames: false
        stages: [pre-push]  # Only run on push

  # Poetry lock verification (push only)
  - repo: local
    hooks:
      - id: check-poetry-lock
        name: poetry-lock-check
        description: "Ensure poetry.lock is in sync with pyproject.toml"
        entry: poetry check --lock
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|poetry\.lock)$
        stages: [pre-push]  # Only run on push

fix(types): stabilize the pyright baseline against inference flapping
  backend/integrations/rvc/spec_loader.py
  backend/models/entity.py
  backend/services/auth/mfa.py
Due: none

fix(can): make RX entity updates actually reach WebSocket clients
  backend/services/can/can_bus_service.py
  tests/services/test_service_key_lookups.py
Due: none

feat(climate): verified zone names + wire-test findings from live coach
  config/2021_Entegra_Aspire_44R.yml
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
Due: eslint-staged

fix(rvc): drop UNKNOWN_* spec placeholders that shadowed real DGN decode
  config/rvc.json
Due: none

fix(climate): ambient instances are G6 sensor channels, not zone numbers
  config/2021_Entegra_Aspire_44R.yml
  docs/can-re-findings.md
Due: none

feat(climate): identify Bay/Floor zones and join their temperatures
  config/2021_Entegra_Aspire_44R.yml
  docs/can-re-findings.md
Due: none

refactor(rvc): entity-first coach mapping schema with validated compiler
  backend/integrations/rvc/decode.py
  backend/integrations/rvc/mapping_schema.py
  config/2021_Entegra_Aspire_44R.yml
  tests/integrations/rvc/test_mapping_schema.py
Due: none

docs: bring the session-bootstrap docs current with the climate findings
  dev_tools/can_re/README.md
  docs/can-re-findings.md
  docs/frontend-redesign.md
Due: none

feat(climate): Aqua-Hot burner/electric control + tanks + outside temp
  backend/integrations/can/message_factory.py
  backend/integrations/rvc/climate_units.py
  backend/services/can/can_bus_service.py
  backend/services/entities/entity_domain_service.py
  backend/services/entities/entity_service.py
  config/2021_Entegra_Aspire_44R.yml
  config/rvc.json
  frontend/src/pages/climate.tsx
  tests/services/test_water_heater_control.py
Due: eslint-staged

style: name the RV-C 8-bit unavailable sentinel in tank level derive
  backend/integrations/rvc/climate_units.py
Due: none

feat(climate): show Aqua-Hot mode label (Off/Burner/Electric/both)
  frontend/src/pages/climate.tsx
Due: eslint-staged

fix(rvc): audit rvc.json against the official spec and live bus census
  backend/integrations/rvc/decode.py
  backend/services/can/can_bus_service.py
  config/rvc.json
  docs/can-re-findings.md
  tests/api/test_diagnostics_v2_real.py
  tests/integrations/rvc/test_rvc_spec_config.py
Due: none

fix(can): key exact decoder lookups by wire arbitration id
  backend/integrations/rvc/decode.py
  backend/models/rvc_config.py
  backend/services/can/can_bus_service.py
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

feat(climate): Aqua-Hot electric/burner control as energy-managed AC loads + shed indicator
  backend/integrations/can/message_factory.py
  backend/integrations/rvc/climate_units.py
  backend/services/can/can_bus_service.py
  backend/services/entities/entity_domain_service.py
  backend/services/entities/entity_service.py
  config/2021_Entegra_Aspire_44R.yml
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
  tests/services/test_ac_load_control.py
  tests/services/test_water_heater_control.py
Due: eslint-staged

feat(victron): integrate Cerbo GX power system over MQTT
  backend/api/router_config.py
  backend/api/routers/protocols.py
  backend/api/routers/victron.py
  backend/core/composition_root.py
  backend/core/config.py
  backend/integrations/victron/__init__.py
  backend/integrations/victron/catalog.py
  backend/integrations/victron/client.py
  backend/integrations/victron/topics.py
  backend/services/protocols/protocol_manager.py
  backend/services/victron/__init__.py
  backend/services/victron/victron_service.py
  nix/package.nix
  poetry.lock
  pyproject.toml
  tests/integrations/victron/__init__.py
  tests/integrations/victron/test_victron_catalog.py
  tests/integrations/victron/test_victron_topics.py
  tests/services/test_victron_service.py
Due: check-poetry-lock

feat(ui): power section for Victron entities on the home page
  backend/services/victron/victron_service.py
  frontend/src/components/power-section.tsx
  frontend/src/lib/power.ts
  frontend/src/pages/home.tsx
  tests/services/test_victron_service.py
Due: eslint-staged

feat(ui): dedicated Power page with Victron controls
  frontend/src/api/victron.ts
  frontend/src/components/power-section.tsx
  frontend/src/lib/routes.tsx
  frontend/src/pages/power.tsx
Due: eslint-staged

feat(climate): AC compressor load-shed on Front/Mid zone cards
  backend/services/can/can_bus_service.py
  config/2021_Entegra_Aspire_44R.yml
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
Due: eslint-staged

feat(victron): pull generator, DC loads, RuuviTag sensors, and GPS from the Cerbo
  backend/integrations/victron/catalog.py
  backend/services/victron/victron_service.py
  frontend/src/components/power-section.tsx
  frontend/src/lib/power.ts
  frontend/src/pages/home.tsx
  tests/integrations/victron/test_victron_catalog.py
  tests/services/test_victron_service.py
Due: eslint-staged

feat(climate): label main-zone heat as "Heat Pump"; document heat-source model
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
Due: eslint-staged

feat(climate): fold Aqua-Hot into zone cards as an independent toggle
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
Due: eslint-staged

feat(climate): fold Aqua-Hot into zone cards as an independent toggle (#206)
  docs/can-re-findings.md
  frontend/src/pages/climate.tsx
Due: eslint-staged

feat(location): GPS trip log with breadcrumb map
  backend/api/router_config.py
  backend/api/routers/location.py
  backend/core/composition_root.py
  backend/core/config.py
  backend/integrations/router_sidecar/gpsd.py
  backend/models/trip_log.py
  backend/repositories/trip_log_repository.py
  backend/services/trip_log/__init__.py
  backend/services/trip_log/trip_log_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/location.ts
  frontend/src/lib/routes.tsx
  frontend/src/pages/location.tsx
  tests/services/test_trip_log_service.py
Due: eslint-staged

fix(auth): refresh tokens before use and gate the WebSocket on auth
  frontend/src/api/client.ts
  frontend/src/api/websocket.ts
  frontend/src/contexts/websocket-provider.tsx
Due: eslint-staged

fix(auth): refresh tokens before use and gate the WebSocket on auth (#208)
  frontend/src/api/client.ts
  frontend/src/api/websocket.ts
  frontend/src/contexts/websocket-provider.tsx
Due: eslint-staged

fix(nix): update npmDepsHash for leaflet dependencies
  nix/package.nix
Due: none

fix(can): emit real 29-bit arbitration ids from CAN simulation
  backend/services/can/can_bus_service.py
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

fix(lights): make the brightness slider draggable; stop rendering dead controls
  frontend/src/pages/devices.tsx
  frontend/src/pages/lights.tsx
Due: eslint-staged

fix(lights): make the brightness slider draggable; stop rendering dead controls (#211)
  frontend/src/pages/devices.tsx
  frontend/src/pages/lights.tsx
Due: eslint-staged

test(rvc): branch mapping-structure test on entity-first vs legacy schema
  tests/test_rvc_decoder_comprehensive.py
Due: none

fix(can): emit real 29-bit arbitration ids from CAN simulation (#210)
  backend/services/can/can_bus_service.py
  tests/services/test_can_rx_pipeline_wiring.py
Due: none

test(rvc): branch mapping-structure test on entity-first vs legacy schema (#212)
  tests/test_rvc_decoder_comprehensive.py
Due: none

fix(connection): gate the networks/status poll on auth to stop login STALE
  frontend/src/contexts/coach-connection.tsx
Due: eslint-staged

fix(connection): gate the networks/status poll on auth to stop login STALE (#213)
  frontend/src/contexts/coach-connection.tsx
Due: eslint-staged

feat(rvc): become coach time master and broadcast GPS from the Pi
  backend/core/composition_root.py
  backend/core/config.py
  backend/integrations/rvc/time_broadcast.py
  backend/services/time_sync/__init__.py
  backend/services/time_sync/time_sync_service.py
  tests/integrations/rvc/test_time_broadcast.py
  tests/services/test_time_sync_service.py
Due: none

fix(can): CANFacade.send_message called a nonexistent injector method
  backend/services/can/can_facade.py
  tests/services/test_can_facade.py
  tests/services/test_can_facade_guardrails.py
Due: none

fix(ws): connect synchronously so the socket actually auto-connects
  frontend/src/api/websocket.ts
  frontend/src/components/connection-banner.tsx
Due: eslint-staged

fix(ws): connect synchronously so the socket actually auto-connects (#216)
  frontend/src/api/websocket.ts
  frontend/src/components/connection-banner.tsx
Due: eslint-staged

fix(can): start the CAN message injector at construction
  backend/core/composition_root.py
Due: none

fix(ws): stop tearing down the socket every render (the real STALE cause)
  frontend/src/hooks/useWebSocket.ts
Due: eslint-staged
