Repository carpenike/coachiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-staged, check-poetry-lock

eslint-staged:
  name: eslint (staged files)
  entry: bash -c 'cd frontend && npx eslint --fix -- "$@"' --
  language: system
  pass_filenames: true

check-poetry-lock:
  name: poetry-lock-check
  description: Ensure poetry.lock is in sync with pyproject.toml
  entry: poetry check --lock
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor(auth): consolidate auth modules into backend/services/auth/ package (audit A9, closes #154)
  backend/api/routers/auth.py
  backend/api/routers/schemas.py
  backend/core/registrations/group2_services.py
  backend/core/registrations/phase4.py
  backend/middleware/auth.py
  backend/middleware/rate_limiting.py
  backend/middleware/secure_auth.py
  backend/services/auth/__init__.py
  backend/services/auth/lockout.py
  backend/services/auth/manager.py
  backend/services/auth/mfa.py
  backend/services/auth/repository.py
  backend/services/auth/service.py
  backend/services/auth/sessions.py
  backend/services/auth/tokens.py
  backend/services/auth_services.py
  backend/services/entity_domain_service.py
  backend/services/secure_token_service.py
  backend/services/user_invitation_service.py
  backend/websocket/auth_handler.py
  tests/integrations/auth/test_user_invitation_integration.py
  tests/safety_validation_test.py
Due: none

docs(adr): add ADR-0007 for auth-service namespace + ruff noqa for moved code (audit A9, refs #154)
  backend/api/routers/auth.py
  backend/services/auth/lockout.py
  backend/services/auth/mfa.py
  backend/services/auth/sessions.py
  backend/services/auth/tokens.py
  docs/adr/ADR-0007-auth-service-namespace.md
  docs/adr/README.md
Due: none

refactor(auth): consolidate auth modules into backend/services/auth/ package (audit A9, closes #154) (#174)
  backend/api/routers/auth.py
  backend/api/routers/schemas.py
  backend/core/registrations/group2_services.py
  backend/core/registrations/phase4.py
  backend/middleware/auth.py
  backend/middleware/rate_limiting.py
  backend/middleware/secure_auth.py
  backend/services/auth/__init__.py
  backend/services/auth/lockout.py
  backend/services/auth/manager.py
  backend/services/auth/mfa.py
  backend/services/auth/repository.py
  backend/services/auth/service.py
  backend/services/auth/sessions.py
  backend/services/auth/tokens.py
  backend/services/auth_services.py
  backend/services/entity_domain_service.py
  backend/services/secure_token_service.py
  backend/services/user_invitation_service.py
  backend/websocket/auth_handler.py
  docs/adr/ADR-0007-auth-service-namespace.md
  docs/adr/README.md
  tests/integrations/auth/test_user_invitation_integration.py
  tests/safety_validation_test.py
Due: none

chore(audit): A10 rename ConfigService->RVCConfigFacade, ConfigurationService->RVCSpecLoader
  .github/copilot-instructions.md
  .github/instructions/code-style.instructions.md
  .github/instructions/project-overview.instructions.md
  backend/api/routers/config.py
  backend/core/dependencies.py
  backend/core/registrations/core_startup.py
  backend/core/registrations/group2_services.py
  backend/integrations/rvc/spec_loader.py
  backend/services/__init__.py
  backend/services/entity_domain_service.py
  backend/services/rvc_config_facade.py
  docs/adr/ADR-0008-rvc-config-facade-naming.md
  docs/adr/README.md
  tests/conftest.py
  tests/integration/test_canbus_decoder_integration.py
  tests/services/test_config_service.py
  tests/unit/test_configuration_service.py
Due: none

chore(audit): A10 rename ConfigService->RVCConfigFacade, ConfigurationService->RVCSpecLoader (#175)
  .github/copilot-instructions.md
  .github/instructions/code-style.instructions.md
  .github/instructions/project-overview.instructions.md
  backend/api/routers/config.py
  backend/core/dependencies.py
  backend/core/registrations/core_startup.py
  backend/core/registrations/group2_services.py
  backend/integrations/rvc/spec_loader.py
  backend/services/__init__.py
  backend/services/entity_domain_service.py
  backend/services/rvc_config_facade.py
  docs/adr/ADR-0008-rvc-config-facade-naming.md
  docs/adr/README.md
  tests/conftest.py
  tests/integration/test_canbus_decoder_integration.py
  tests/services/test_config_service.py
  tests/unit/test_configuration_service.py
Due: none

chore(ci): ratchet pyright baseline 1443 -> 1441 (A10 follow-up)
  scripts/ci-quality-gate.sh
Due: none

chore(ci): ratchet pyright baseline 1443 -> 1441 (A10 follow-up) (#176)
  scripts/ci-quality-gate.sh
Due: none

chore(flake.lock): update nixpkgs locked version and metadata
  flake.lock
Due: none

fix(nix): use supported node and python 3.12 poetry envs
  flake.nix
  poetry.lock
  pyproject.toml
Due: check-poetry-lock

fix(nix): use supported node and python 3.12 poetry envs (#177)
  flake.nix
  poetry.lock
  pyproject.toml
Due: check-poetry-lock

Implement truthful networks v2 data
  IMPLEMENTATION_PLAN.md
  backend/api/domains/networks.py
  backend/services/can_facade.py
  docs/api/openapi.json
  docs/api/openapi.yaml
  tests/api/test_networks_domain.py
Due: none

Add explicit greenlet dependency
  IMPLEMENTATION_PLAN.md
  flake.nix
  poetry.lock
  pyproject.toml
Due: check-poetry-lock

Type auth security dependencies
  IMPLEMENTATION_PLAN.md
  backend/core/dependencies.py
  backend/services/security_persistence_service.py
Due: none

feat: add comprehensive project context and instructions for CoachIQ
  .github/copilot-instructions.md
  PROJECT_CONTEXT.md
  docs/cowork-hq-instructions.md
Due: none

Close typed dependency aliases
  IMPLEMENTATION_PLAN.md
  backend/core/dependencies.py
Due: none

Remove residual frontend app directory
  IMPLEMENTATION_PLAN.md
  frontend/src/pages/demo-dashboard-data.json
  frontend/src/pages/demo-dashboard.tsx
Due: eslint-staged

Use canonical database management DI
  IMPLEMENTATION_PLAN.md
  backend/api/routers/database_management.py
Due: none

Bump GitHub Actions Node runtimes
  .github/workflows/nix-ci.yml
  .github/workflows/release-please.yml
  .github/workflows/test-docs.yml
  IMPLEMENTATION_PLAN.md
Due: none

Implement HOF-002 CAN telemetry
  IMPLEMENTATION_PLAN.md
  backend/api/domains/networks.py
  backend/models/can.py
  backend/services/can_facade.py
  backend/services/can_interface_service.py
  docs/api/openapi.json
  docs/api/openapi.yaml
  tests/api/test_networks_domain.py
  tests/services/test_can_facade.py
  tests/services/test_can_interface_service.py
Due: none

Implement HOF-011 rolling CAN telemetry
  IMPLEMENTATION_PLAN.md
  backend/api/domains/networks.py
  backend/core/dependencies.py
  backend/core/registrations/phase4.py
  backend/services/can_network_telemetry_service.py
  docs/api/openapi.json
  docs/api/openapi.yaml
  tests/api/test_networks_domain.py
  tests/services/test_can_network_telemetry_service.py
Due: none

Fix Renovate pin PRs and pyright ratchet
  renovate.json
  scripts/ci-quality-gate.sh
Due: none

fix: fail closed for csrf secret
  .github/instructions/env-vars.instructions.md
  backend/main.py
  tests/core/test_csrf_secret.py
Due: none

fix: validate production security secrets
  .env.example
  .github/instructions/env-vars.instructions.md
  backend/core/config.py
  backend/main.py
  flake.nix
  tests/core/test_csrf_secret.py
  tests/core/test_security_secret_config.py
Due: none

refactor: split nix flake layout
  PROJECT_CONTEXT.md
  flake.nix
  nix/module.nix
  nix/package.nix
  nix/test-module.nix
Due: none

refactor: adopt hybrid coachiq nix module
  .github/instructions/env-vars.instructions.md
  PROJECT_CONTEXT.md
  docs/adr/ADR-0009-nix-module-hybrid-options.md
  flake.lock
  flake.nix
  nix/module.nix
  nix/test-module.nix
Due: none

chore: remove frontend demo routes
  frontend/src/api/client.ts
  frontend/src/api/domains/entities.ts
  frontend/src/api/domains/index.ts
  frontend/src/api/validation/zod-schemas.ts
  frontend/src/api/websocket.ts
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/bulk-operations/BulkOperationsIntegrationExample.tsx
  frontend/src/components/bulk-operations/index.ts
  frontend/src/hooks/domains/useEntitiesV2.ts
  frontend/src/hooks/useEntities.ts
  frontend/src/hooks/useSecurityDashboard.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/main.tsx
  frontend/src/pages/admin-settings.tsx
  frontend/src/pages/demo-dashboard-data.json
  frontend/src/pages/demo-dashboard.tsx
  frontend/src/pages/settings.tsx
  frontend/src/pages/theme-test.tsx
Due: eslint-staged

feat: generate frontend OpenAPI types
  PROJECT_CONTEXT.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/api-typegen-utils.mjs
  frontend/scripts/check-api-types.mjs
  frontend/scripts/generate-api-types.mjs
  frontend/src/api/domains/entities.ts
  frontend/src/api/generated/openapi-types.ts
  frontend/src/api/types/domains.ts
  frontend/src/api/validation/zod-schemas.ts
Due: eslint-staged

docs: inventory legacy API router coverage
  IMPLEMENTATION_PLAN.md
Due: none

feat: tighten v2 response schemas
  IMPLEMENTATION_PLAN.md
  backend/api/domains/diagnostics.py
  backend/api/domains/entities.py
  backend/api/domains/system.py
  backend/schemas/domain_api.py
  docs/api/openapi.json
  docs/api/openapi.yaml
  frontend/src/api/generated/openapi-types.ts
  frontend/src/api/types/domains.ts
  tests/api/test_domain_response_models.py
Due: eslint-staged

feat: remove fake entity API fallback
  IMPLEMENTATION_PLAN.md
  PROJECT_CONTEXT.md
  frontend/src/api/domains/entities.ts
  frontend/src/api/domains/index.ts
  frontend/src/api/types/domains.ts
  frontend/src/hooks/domains/__tests__/useEntitiesV2.test.tsx
  frontend/src/hooks/domains/__tests__/useEntitiesV2Validation.test.tsx
  frontend/src/hooks/useEntities.ts
Due: eslint-staged

docs: record v2 convergence direction
  IMPLEMENTATION_PLAN.md
Due: none

test: add guardrail coverage ratchet
  .github/workflows/nix-ci.yml
  IMPLEMENTATION_PLAN.md
  PROJECT_CONTEXT.md
  flake.nix
  pytest.ini
  scripts/check_module_coverage.py
  tests/middleware/test_secure_auth.py
  tests/services/test_auth_guardrails.py
  tests/services/test_can_facade_guardrails.py
  tests/services/test_safety_service_guardrails.py
  tests/websocket/test_auth_handler_guardrails.py
Due: none

test: raise guardrail coverage floors
  IMPLEMENTATION_PLAN.md
  PROJECT_CONTEXT.md
  scripts/check_module_coverage.py
Due: none

Add RV-C decode validation harness
  .github/workflows/nix-ci.yml
  IMPLEMENTATION_PLAN.md
  PROJECT_CONTEXT.md
  backend/integrations/rvc/decode.py
  backend/integrations/rvc/decoder_core.py
  config/rvc.json
  flake.nix
  recordings/recon004_decode_sanity.candump
  scripts/validate_rvc_spec.py
  tests/test_rvc_decoder_comprehensive.py
Due: none

Document reference coach CAN bridge
  PROJECT_CONTEXT.md
Due: none

Make v2 diagnostics ingest real DTCs
  IMPLEMENTATION_PLAN.md
  backend/api/domains/diagnostics.py
  backend/core/registrations/phase4.py
  backend/integrations/diagnostics/feature.py
  backend/integrations/diagnostics/tests/test_advanced_diagnostics.py
  backend/services/can_bus_service.py
  tests/api/test_diagnostics_v2_real.py
Due: none

Retire legacy diagnostics health route
  .pre-commit-config.yaml
  IMPLEMENTATION_PLAN.md
  backend/api/router_config.py
  backend/api/routers/diagnostics.py
  docs/api/openapi.json
  docs/api/openapi.yaml
  frontend/src/api/endpoints.ts
  frontend/src/api/generated/openapi-types.ts
  frontend/src/api/types.ts
  frontend/src/api/types/domains.ts
  frontend/src/components/diagnostics/SystemHealthScore.tsx
  frontend/src/components/diagnostics/index.ts
  frontend/src/hooks/useDiagnostics.ts
  frontend/src/pages/performance.tsx
  scripts/eslint_diff_check.py
Due: eslint-staged

Decode component IDs into device discovery
  IMPLEMENTATION_PLAN.md
  backend/integrations/can/protocol_router.py
  backend/integrations/rvc/__init__.py
  backend/integrations/rvc/bam_handler.py
  backend/integrations/rvc/decoder_core.py
  backend/integrations/rvc/tests/test_bam_handler.py
  backend/services/can_bus_service.py
  backend/services/device_discovery_service.py
  tests/services/test_component_identification_discovery.py
Due: none

docs: record pre-1.0 compatibility stance
  IMPLEMENTATION_PLAN.md
Due: none

ci: ratchet quality baselines
  eslint.config.js
  frontend/eslint.config.js
  scripts/ci-quality-gate.sh
Due: eslint-staged

Path conditions:
  eslint-staged: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/(node_modules|dist|coverage)/
  check-poetry-lock: any of: ^(pyproject\.toml|poetry\.lock)$
